{% from "filter-list.njk" import filterList %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {{ filterList("Departamento", departamentos, "departamento") }}
  {{ filterList("Sede", sedes, "sede") }}
  {{ filterList("Audiencia", audiencias, "audiencia") }}
</div>
