{% macro filterList(title, items, urlPrefix, listClass="flex flex-col gap-1 text-sm") %}
  <nav class="flex flex-col gap-2">
    <h4 class="font-semibold text-gray-700 text-sm">{{ title }}</h4>
    <ul class="{{ listClass }}">
      {% for item in items %}
        <li>
          <a href="/{{ urlPrefix }}/{{ item | slugify }}/" class="text-black/70 hover:text-blue-500 hover:underline">{{ item }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}
